# Hotel Reservations DataSet

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
hotel= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dataset 2/Hotel Reservations.csv")
hotel

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

# Null Value Handling

In [ ]:
hotel.isnull().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

# Label Encoding

In [ ]:
hotel=hotel.drop('Booking_ID', axis=1)

In [ ]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   type_of_meal_plan                     36275 non-null  object
 5   required_car_parking_space            36275 non-null  int64
 6   room_type_reserved                    36275 non-null  object
 7   lead_time                             36275 non-null  int64
 8   arrival_year                          36275 non-null  int64
 9   arrival_month                         36275 non-null  int64
 10  arrival_date                          36275 non-null  int64
 11  market_segment_type                   36275 non-null  object
 12  repeated_guest                        36275 non-null  int64
 13  no_of_previous_cancellations          36275 non-null  int64
 14  no_of_previous_bookings_not_canceled  36275 non-null  int64
 15  avg_price_per_room                    36275 non-null  float64
 16  no_of_special_requests                36275 non-null  int64
 17  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(4)
memory usage: 5.0+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

hotel['type_of_meal_plan'] = lb.fit_transform(hotel['type_of_meal_plan'])
hotel['room_type_reserved']= lb.fit_transform(hotel['room_type_reserved'])
hotel['market_segment_type']= lb.fit_transform(hotel['market_segment_type'])
hotel['booking_status']=lb.fit_transform(hotel['booking_status'])

In [ ]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   type_of_meal_plan                     36275 non-null  int64
 5   required_car_parking_space            36275 non-null  int64
 6   room_type_reserved                    36275 non-null  int64
 7   lead_time                             36275 non-null  int64
 8   arrival_year                          36275 non-null  int64
 9   arrival_month                         36275 non-null  int64
 10  arrival_date                          36275 non-null  int64
 11  market_segment_type                   36275 non-null  int64
 12  repeated_guest                        36275 non-null  int64
 13  no_of_previous_cancellations          36275 non-null  int64
 14  no_of_previous_bookings_not_canceled  36275 non-null  int64
 15  avg_price_per_room                    36275 non-null  float64
 16  no_of_special_requests                36275 non-null  int64
 17  booking_status                        36275 non-null  int64
dtypes: float64(1), int64(17)
memory usage: 5.0 MB

# Feature Selection

In [ ]:
x= hotel.drop('booking_status', axis=1)
y= hotel['booking_status']

In [ ]:
y

0        1
1        1
2        0
3        0
4        0
        ..
36270    1
36271    0
36272    1
36273    0
36274    1
Name: booking_status, Length: 36275, dtype: int64

# Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2)

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lgrg= LogisticRegression()

lgrg.fit(x_train, y_train)
lgrg.score(x_train, y_train)*100

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

79.07305306685045

In [ ]:
lgrg.score(x_test, y_test)*100

78.59407305306685

In [ ]:
from sklearn.metrics import accuracy_score
y_pred_train_lgrg = lgrg.predict(x_train)
train_accuracy_lgrg= accuracy_score(y_pred_train_lgrg, y_train)
train_accuracy_lgrg*100

79.07305306685045

In [ ]:
from sklearn.metrics import accuracy_score
y_pred_test_lgrg = lgrg.predict(x_test)
test_accuracy_lgrg= accuracy_score(y_pred_test_lgrg, y_test)
test_accuracy_lgrg*100

78.59407305306685

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_test_lgrg))

              precision    recall  f1-score   support

           0       0.71      0.57      0.64      2356
           1       0.81      0.89      0.85      4899

    accuracy                           0.79      7255
   macro avg       0.76      0.73      0.74      7255
weighted avg       0.78      0.79      0.78      7255

# Decision Tree Classifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()

dtc.fit(x_train, y_train)

dtc.score(x_train, y_train)*100

99.42453480358373

In [ ]:
dtc.score(x_test, y_test)*100

86.9882839421089

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
y_pred_train_dtc=dtc.predict(x_train)
train_accuracy_dtc=accuracy_score(y_pred_train_dtc, y_train)
train_accuracy_dtc*100

99.42453480358373

In [ ]:
y_pred_test_dtc=dtc.predict(x_test)
test_accuracy_dtc=accuracy_score(y_pred_test_dtc, y_test)
test_accuracy_dtc*100

86.9882839421089

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_test_dtc))

              precision    recall  f1-score   support

           0       0.80      0.80      0.80      2356
           1       0.91      0.90      0.90      4899

    accuracy                           0.87      7255
   macro avg       0.85      0.85      0.85      7255
weighted avg       0.87      0.87      0.87      7255

# Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier()

rfc.fit(x_train, y_train)
rfc.score(x_train, y_train)*100

99.42453480358373

In [ ]:
rfc.score(x_test, y_test)*100

90.1171605789111

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
y_pred_train_rfc=rfc.predict(x_train)
train_accuracy_rfc=accuracy_score(y_pred_train_rfc, y_train)
train_accuracy_rfc*100

99.42453480358373

In [ ]:
y_pred_test_rfc=rfc.predict(x_test)
test_accuracy_rfc=accuracy_score(y_pred_test_rfc, y_test)
test_accuracy_rfc*100

90.1171605789111

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_test_rfc))

              precision    recall  f1-score   support

           0       0.88      0.81      0.84      2356
           1       0.91      0.94      0.93      4899

    accuracy                           0.90      7255
   macro avg       0.89      0.88      0.89      7255
weighted avg       0.90      0.90      0.90      7255

# Kneighbors Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knc= KNeighborsClassifier(n_neighbors=10)

knc.fit(x_train, y_train)
knc.score(x_train, y_train)*100

83.97656788421777

In [ ]:
knc.score(x_test, y_test)*100

79.64162646450723